/* Mobile & Tablet */
@media (max-width: 1023px) {
   
  
    
    

  
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 70px;
        --navbar-height: 0px;
    }
    .header { 
        width: 100%;
    }

    .header__img {
        width: 100%;

    }
    .list_place {
        text-align: center;
        position: relative;
    }
    .list_place-img {
        width: 100%;
        margin: 0;
    }

    .list_place-des {
        text-align: center;
        width: 100%;
        margin: 0 0 20px 20px;
        
    }
    .list_place-header {
        
        
    }
    .list_place-id {
        position: absolute;
        content: "";
        left: 130px;
        top: -20px
    }

    .footer__img {
        padding: 0;
        margin: 0;
        width: 100%;
    }
        
    span.day3 {
        padding: 0;
        margin-top: 50px;
    }
    .header3__img {
        width: 100%;
        margin-bottom: 0px;
    }
 
}
/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .header { 
        width: 90%;
        display: block;
        margin-left: auto; 
        margin-right: auto;
    }

    .header__img {
        width: 100%;

    }
    .list_place {
        text-align: center;
        position: relative;
    }
    .list_place-img {
        width: 70%;
        margin: 0;
        padding: 0;
    }

    .list_place-des {
        text-align: center;
        width: 100%;
        margin-left: 60px;
        
    }
    .list_place-header {
        
        
    }
    .list_place-id {
        position: absolute;
        content: "";
        left: 165px;
        top: -20px
    }

    .footer__img {
        padding: 0;
        margin: 0;
        width: 80%;
        display: block;
        margin-left: auto; 
        margin-right: auto;
    }
        
    span.day3 {
        padding: 0;
        margin-top: 30px;
    }
    .header3__img {
        width: 90%;
        display: block;
         margin-left: auto; 
         margin-right: auto;
        margin-bottom: 10px;
    }
    .place_body { 
        margin-left: 60px;
    }
}


